<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo</title>
</head>
<body>
    

    <h1>Enviar los datos al servidor</h1>
    <form action="/process" method="post"> <!--porque solo lo vamos a enviar-->
        <label for="name" > Nombre:</label>
        <input type="text"id="name" name="name"> <!--se asocia con el label-->
        <button type="submit">Enviar</button>
    </form>

</body>
</html>