/*header*/

header{
   display: flex;
   height: 250px;
 
} 

header h3 {
position: relative;
left: 40%;
top: 25%;
font-size: 25px;
}

header h1{
    position: relative;
    left:40%;
    top:30%;
    font-size: 50px;
}

/*body*/

body{
    margin: 0;
    background: url(../imagenes2/body.png) no-repeat;
    background-size: cover;
}

/*article class container*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%;
    background-color:#ABBD99;
    border-radius: 10px;
    border: 3px solid #5A7356 ;
    width: 600px;
}

.container h3 {
    text-align: center;
    padding: 4px;
}

.container p{
    width: 90%;
    padding: 10px;
    text-align: justify;
}

/*article fuentes*/

.fuentes{
    display: flex;
    background-color:#E8EBE8;
    border-radius: 10px;
    border: 3px solid #5A7356;
    width: 532px;
    position: relative;
    left:33.5%;
    top: 10px;
    padding:10px;
    margin:5px;
    height: auto;
}

.fuentes img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    position:relative;
    left:1%;
}

.fuentes i{
    cursor: pointer;
    position: relative;
    top:130px;
    right:63%;
}

.fuentes h4{
    position: relative;
    bottom:30px;
    text-align: center;
    width: 300px;
    height: 20px;
    background-color:#ABBD99;
    padding: 5px;
    border-radius: 8px;
}

.fuentes p {
    position: relative;
    top:20px;
    right:50%;
    text-align: justify;
    background-color:#ABBD99;
    width: 280px;
    height: 76px;
    padding:15px;
    border-radius: 8px;
}

.contenido{
    display: flex;
    padding: 10px;
    height: auto;
    position: relative;
    left:1%;
}


#video{
    display:none;
    justify-content: space-between;
    background-color:#5A7356;
    text-align: center;
    padding:10px;
    width: 500px;
    height: auto;
    position: relative;
    right:160%;
    top:170px;
    gap:1.1em;
}





