/* css para el header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 150px;
}

header h1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
   margin-left: 25%;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap:1.8em;
    margin-top:20%;
    list-style: none;
    margin-right: 5%;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

/* CSS para el body*/

body {
    margin: 0;
}

/* sección de inicio*/

.inicio {
    display: flex;
   justify-content: space-between;
   
}





