        body {
            background-color: blue;
            color: blue;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        #miTexto {
            margin: 20px;
            font-size: 20px;
        }

        button {
            margin: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 5px;
            background-color: #f0f0f0;
            margin: 5px 0;
            border-radius: 5px;
            text-align: center;
        }
    