<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir y Mostrar Archivo CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Cargar y Mostrar un Archivo CSV</h1>

        <!-- Formulario para subir archivo -->
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Selecciona un archivo CSV:</label>
                <input type="file" id="file" name="file" accept=".csv" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Subir y Mostrar</button>
        </form>

        <hr>
        <!-- Si se envió un archivo, se muestra la tabla -->
        {% if table %}
         <!--<h2 class="my-4">Tabla del Archivo CSV</h2>-->
        <!-- Mostrar la tabla con el contenido del CSV -->
        <!--<div class="table-responsive">-->
            {{ table|safe }}
        <!--</div>-->
        <br>
        {% endif %}
    </div>
</body>
</html>
